@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}





<div class="content-wrapper">
    <div class="content-inner">
        <div class="content d-flex justify-content-center align-items-center" style="justify-content: center;">          
                <div class="card mb-0">
                    <div class="card-body">
                        <div class="text-center mb-3">
                            <div class="d-inline-flex bg-primary bg-opacity-10 text-primary lh-1 rounded-pill p-3 mb-3 mt-1">
                                <img src="~/assets/images/tpmedialogo.png" class="h-48px" alt="" />
                            </div>
                            <h5 class="mb-0">Reset Pasword</h5>
                           
                        </div>

                        <div class="mb-3">
                            <label asp-for="Input.Email" class="form-label"></label>
                            <div class="form-control-feedback form-control-feedback-start">
                                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />     
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                                <div class="form-control-feedback-icon">
                                    <i class="ph-user-circle text-muted"></i>
                                </div>
                            </div>
                        </div>

                        
                        <div class="mb-3">
                           <button type="submit" class="w-100 btn btn-lg btn-primary">Reset Password</button>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
